In [ ]:
from google.colab import files
files.upload()

In [ ]:
from keras.models import load_model
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [ ]:
ridingModel = load_model('/content/Riding.h5')
crackingModel = load_model('/content/Cracking.h5')
ruttingModel = load_model('/content/Rutting.h5')

In [ ]:
fd = pd.read_excel('3.xlsx',sheet_name=0)

In [ ]:
xfd = fd.iloc[:,0:8].values
yfd = np.reshape(fd.iloc[:,8].values, newshape=(-1, 1))

In [ ]:
# scalers
scaler_x = StandardScaler()
scaler_y = StandardScaler()
# scaling riding
x_sc = scaler_x.fit_transform(xfd)
y_sc = scaler_y.fit_transform(yfd)

In [ ]:
# prediction Riding
riding = [scaler_y.inverse_transform(ridingModel.predict(x_sc))[i][0] for i in range(x_sc.shape[0])]
# prediction cracking
cracking = [scaler_y.inverse_transform(crackingModel.predict(x_sc))[i][0] for i in range(x_sc.shape[0])]
# prediction rutting
rutting = [scaler_y.inverse_transform(ruttingModel.predict(x_sc))[i][0] for i in range(x_sc.shape[0])]

In [ ]:
PCI = [(0.4*riding[i])+(0.4*cracking[i])+(0.2*rutting[i]) for i in range(len(riding))]

In [ ]:
fd['RidingIndex'] = riding
fd['CrackingIndex'] = cracking
fd['RuttingIndex'] = rutting
fd['PCI'] = PCI
fd

     Age  Rainfall (in.)  Temp (C)  ...  CrackingIndex  RuttingIndex        PCI
0      7            26.4       6.9  ...      97.257622     94.169044  92.705727
1      8            24.5       6.3  ...      90.964577     91.442223  90.687495
2      9            24.2       6.0  ...      85.755989     87.405487  85.412204
3     10            32.0       6.1  ...      87.720276     80.069839  78.762927
4     11            27.0       6.3  ...      81.575165     82.017662  79.893196
..   ...             ...       ...  ...            ...           ...        ...
103   11            27.0       6.3  ...      89.517876     83.283562  86.932457
104   12            23.2       7.9  ...      89.098946     78.725914  86.989931
105   13            25.3       7.1  ...      83.548233     74.665878  82.585901
106   14            28.2       6.6  ...      71.822960     74.882500  75.422035
107   15            27.9       7.9  ...      75.046478     75.153526  75.980013

[108 rows x 13 columns]

In [ ]:
train = pd.DataFrame(fd)

In [ ]:
with pd.ExcelWriter('Futureprediction from 2005 to 2016.xlsx') as writer:
    train.to_excel(writer,sheet_name='Future',index=False)